@font-face {
  font-family: 'pixel';
  src: url('../fonts/munro/munro.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.slideContainer {
  width: 37%;
  min-width: 500px;
  max-width: 550px;
  height: 100%;;
}

#container {
  width: 100%;
  height: 100%;
  min-height: 800px;
  background-color: #00162e;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}

/* LEFT TITLE DIV */

#slideLeft {
  margin-right: 8px;
}

#titleDiv {
  height: 88%;
  width: 100%;
  background: linear-gradient(#f68420, #ffc420);
  box-shadow: -40px 20px 100px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 65%;
  height: 275px;
  position: relative;
  top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#logo img {
  width: 65%;
}

#logo p {
  font-family: 'pixel', monospace; 
  font-weight: normal; 
  font-style: normal;
  text-align: center;
  font-size: 20px;
  color: white;
}

#titleBottom {
  width: 90%;
  height: 55px;
  position: relative;
  bottom: 3%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  overflow: hidden;
}

#cast, #contact {
  width: 90px;
  padding: 5px 0;
  border: 1px solid white;
  margin-top: 7px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
}

#cast, #contact, #episodesLink {
  background: linear-gradient(to right, rgba(0,0,0,0) 50%, #00162e 50%);
  background-size: 200% 100%;
  transition: background-position 0.35s;
}

#cast:hover, #contact:hover, #episodesLink:hover {
  background-position: -100% 0;
}

#social {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

#facebook, #twitter {
  color: white;
  text-align: center;
  font-size: 35px;
  margin-top: 2px;
  position: relative;
  top: 4px;
  transition: color 0.1s;
}

#facebook:hover, #twitter:hover {
  color: #00162e;
}

/* RIGHT PLAYER DIV */

#slideRight {
  margin-left: 8px;
  display: flex;
  align-items: flex-end;
}

#playerContainer {
  height: 88%;
  width: 100%;
  background: linear-gradient(#0091a5, #0061a5);
  box-shadow: 40px -20px 100px rgba(0,0,0,0.25);
  overflow: hidden;
}

.currentEpisode {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0%;
  transition: left 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 50px;
}

#player {
  width: 100%;
  height: 250px;
  border: 10px solid white;
  background-image: url(../images/junkrat.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

#episode {
  width: 100%;
  height: auto;
  margin: 50px 0;
  font-family: 'Exo 2', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

#episode h2 {
  text-align: right;
  margin-bottom: 30px;
}

#episode h2, .episodeListLink h2 {
  text-transform: uppercase;
  font-size: 30pt;
  font-family: 'pixel', monospace;
  background-color: #00162e;
  color: white;
  padding: 10px 20px;
  letter-spacing: 4px;
  display: inline-block;
}

#episode p {
  text-align: justify;
  font-weight: 100;
}

#episodesLink button {
  height: auto;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  font-weight: 300;
  background-color: transparent;
  cursor: pointer;
}

/* HIDDEN EPISODE MENU */

.episodeListcontainer {
  width: 100%;
  height: 100%;
  position: relative;
  left: 100%;
  bottom: 100%;
  display: flex;
  transition: left 0.5s;

} 

#backButton i {
  position: relative;
  right: 1px;
}

#backButton {
  position: absolute;
  padding: 5px 10px;
  top: 10px;
  right: 10px;
  border: 1px solid rgba(255,255,255,0.7);
  color: rgba(255,255,255,0.7);
  text-align: right;
  z-index: 3;
  cursor: pointer;
  transition: all 0.1s;
}

#backButton:hover {
  border: 1px solid white;
  color: white;
}

#backButton:active {
  transform: scale(0.9);
}

#episodeList {
  width: 43%;
  height: 100%;
  background: linear-gradient(#0091a5, #0061a5);
  border: 0;
  border-right: 3px solid white;
  overflow: scroll;
}

#episodeList::-webkit-scrollbar { 
    display: none; 
}

#episodeList ul {
  list-style: none;
}

#episodeList ul li {
  width: 60%;
  margin: 37px auto;
  text-align: center;
  padding: 20px 5px;
  font-family: 'SFPixelateRegular', monospace;
  font-size: 14pt;
  color: white;
  text-transform: uppercase;
  transform: scale(1) skewY(0) translateX(0);
  cursor: pointer;
  transition: all 0.35s;
}

#episodeList ul li:hover {
  width: 70%;
  background: linear-gradient(#00162e 25%, #ffbb11 25%, #ffbb11 75%, #00162e 75%);
  color: #00162e;
}

#episodeList ul li:active {
  transform: scale(0.75);
}

#episodeInfo {
  width: 57%;
  height: 100%;
  background-color: #060D0F;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.episodePicContainer {
  width: 100%;
  height: 62%;
  background-color: red;
  position: relative;
  right: 100%;
}

.episodeDesContainer {
  width: 100%;
  height: 38%;
  background-color: #142D34;
  position: relative;
  left: 100%;
}

.episodePic {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  
  left: 0%;
  z-index: 1;
  transition: left 0.35s;
}

#episode12pic {
  background-image: url('http://static5.gamespot.com/uploads/original/1551/15511094/3093308-ana5.jpg');
  background-position: top left -60px;
}

#episode11pic {
  background-image: url('https://assets.vg247.com/current//2017/01/the_legend_of_zelda_breath_of_the_wild_new_header_finally.jpg');
}

#episode10pic {
  background-image: url('http://orig10.deviantart.net/81d5/f/2012/106/4/1/gomez_wears_a_fez_now__fezzes_are_cool__by_sm0k1nggnu-d4wcuuq.png');
}

.episodeDes {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(#1C3B42, #000C0D);
  border-top: 1px solid #ffbb11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 0%;
  transition: right 0.35s;
}

.episodeDes p {
  padding: 0 12%;
  padding-bottom: 7%;
  color: white;
  text-align: center;
  font-family: monospace;
  font-size: 1.2em;
  line-height: 1.3em;
  font-family: 'exo';
  font-weight: 100;
}

#episode12des {
  
}

#episode11des {
  
}

#episode10des {
  
}

#playButton {
  text-align: center;
  padding: 2% 8%;
  margin-bottom: 0;
  background-color: white;
  color: #00162E;
  border: 1px solid rgba(255,255,255,0);
  cursor: pointer;
  transition: all 0.25s;
}

#playButton:hover {
  background-color: rgba(0,0,0,0);
  color: white;
  border: 1px solid white;
  padding: 2% 14%;
}

.visibleLeft {
  left: 100%;
  z-index: 2;
}

.visibleRight {
  right: 100%;
  z-index: 2;
}

/* JAVASCRIPT TOGGLE CLASSES */

.leftOffscreen {
  left: -100%;
}

.offscreenLeft {
  left: 0%;
}